#title{
    color:blue;
    font-size: 50px; }
.recipe_links{
    color:red;
    font-family: Cambria;
    font-size: 12pt;           }
body{
    background-color: aquamarine; }
.subsection.header {
    color: red;


}
.list .list_item {
    color: blue;
    font-family:'Times New Roman', Times, serif;
    }

.list, .list_item {
    color: red
}